[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pre-commit = "*"

[packages]
discord = "*"
pyparsing = "*"
mypy = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python -m bot"
test = "coverage run --source . -m unittest discover --verbose test"
tests = "coverage run --source . -m unittest discover --verbose test"
cov = "coverage report -m -i --fail-under=80 --skip-covered --skip-empty --debug=dataio"
lint = "mypy bot --ignore-missing-imports"
