[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pre-commit = "*"
mypy = "*"
flake8 = "*"
black = "*"
rope = "*"

[packages]
discord = "*"
pyparsing = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
fuzzywuzzy = {extras = ["speedup"], version = "*"}
psycopg2-binary = "*"
pony = "*"
htmlmin = "*"

[requires]
python_version = "3.9"

[scripts]
start = "python -m bot"
test = "coverage run --source . -m unittest discover --verbose test"
tests = "coverage run --source . -m unittest discover --verbose test"
cov = "coverage report -m -i --fail-under=80 --skip-covered --skip-empty --debug=dataio"
lint = "mypy bot --ignore-missing-imports"
wiki = "python regelwiki/wiki_links.py"

[pipenv]
allow_prereleases = true
