[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pre-commit = "*"

[packages]
discord = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python bot/DSAbot.py"
test = "coverage run --source . -m unittest discover --verbose test"
tests = "coverage run --source . -m unittest discover --verbose test"
cov = "coverage report -m -i --fail-under=70 --skip-covered --skip-empty --debug=dataio"
